In [1]:
import numpy as np
import pandas as pd
import os
import sys
import datetime
from sqlalchemy import create_engine
from sqlalchemy.types import NVARCHAR,VARCHAR

### 1 读取源文件

In [2]:
data=pd.read_table('StormTide_20180709.txt')
data

           2018-07-09 08:00  2018-07-09 09:00  2018-07-09 10:00  \
N01 SURGE              0.36              0.35              0.34
    TIDE               3.43              3.58              3.73
N02 SURGE              0.36              0.35              0.34
    TIDE               3.43              3.58              3.73
N03 SURGE              0.36              0.35              0.34
    TIDE               3.43              3.58              3.73

           2018-07-09 11:00  2018-07-09 12:00  2018-07-09 13:00  \
N01 SURGE              0.33              0.33              0.32
    TIDE               3.86              3.97              4.07
N02 SURGE              0.33              0.33              0.32
    TIDE               3.86              3.97              4.07
N03 SURGE              0.33              0.33              0.32
    TIDE               3.86              3.97              4.07

           2018-07-09 14:00  2018-07-09 15:00  2018-07-09 16:00  \
N01 SURGE              0.31              0.31              0.31
    TIDE               4.16              4.25              4.31
N02 SURGE              0.31              0.31              0.31
    TIDE               4.16              4.25              4.31
N03 SURGE              0.31              0.31              0.31
    TIDE               4.16              4.25              4.31

           2018-07-09 17:00        ...         2018-07-11 23:00  \
N01 SURGE              0.32        ...                     0.56
    TIDE               4.32        ...                     3.53
N02 SURGE              0.32        ...                     0.56
    TIDE               4.32        ...                     3.53
N03 SURGE              0.32        ...                     0.56
    TIDE               4.32        ...                     3.53

           2018-07-12 00:00  2018-07-12 01:00  2018-07-12 02:00  \
N01 SURGE              0.56              0.56              0.56
    TIDE               3.51              3.49              3.48
N02 SURGE              0.56              0.56              0.56
    TIDE               3.51              3.49              3.48
N03 SURGE              0.56              0.56              0.56
    TIDE               3.51              3.49              3.48

           2018-07-12 03:00  2018-07-12 04:00  2018-07-12 05:00  \
N01 SURGE              0.57              0.57              0.57
    TIDE               3.49              3.51              3.54
N02 SURGE              0.57              0.57              0.57
    TIDE               3.49              3.51              3.54
N03 SURGE              0.57              0.57              0.57
    TIDE               3.49              3.51              3.54

           2018-07-12 06:00  2018-07-12 07:00  2018-07-12 08:00
N01 SURGE              0.57              0.57              0.57
    TIDE               3.55              3.57              3.59
N02 SURGE              0.57              0.57              0.57
    TIDE               3.55              3.57              3.59
N03 SURGE              0.57              0.57              0.57
    TIDE               3.55              3.57              3.59

[6 rows x 73 columns]

### 2 转置

In [3]:
data=data.T
# data.head()

In [4]:
# data['date']=data.index
data.head()

                   N01         N02         N03
                 SURGE  TIDE SURGE  TIDE SURGE  TIDE
2018-07-09 08:00  0.36  3.43  0.36  3.43  0.36  3.43
2018-07-09 09:00  0.35  3.58  0.35  3.58  0.35  3.58
2018-07-09 10:00  0.34  3.73  0.34  3.73  0.34  3.73
2018-07-09 11:00  0.33  3.86  0.33  3.86  0.33  3.86
2018-07-09 12:00  0.33  3.97  0.33  3.97  0.33  3.97

In [5]:
data.columns

MultiIndex(levels=[['N01', 'N02', 'N03'], ['SURGE', 'TIDE']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [6]:
data.columns.levels

FrozenList([['N01', 'N02', 'N03'], ['SURGE', 'TIDE']])

In [7]:
data.columns.levels

FrozenList([['N01', 'N02', 'N03'], ['SURGE', 'TIDE']])

In [8]:
data.columns.levels[0]

Index(['N01', 'N02', 'N03'], dtype='object')

In [9]:
data.columns.levels[0][0]

'N01'

In [10]:
for temp in data.columns.levels[0]:
    print(temp)

N01
N02
N03

### 3 根据code合成最终的df
** 将遍历每一个CODE写成方法 **

In [11]:
def merageStormByCode(df,code,dt):
    # 根据code找到指定的df
    df_middle=df[code]
    df_middle['code']=code
    df_middle['tdate']=df_middle.index
    df_middle['date']=dt
    df_middle.columns=[t.lower() for t in df_middle.columns]
    return df_middle

In [12]:
# df_merage=pd.DataFrame()
df_merage=pd.DataFrame(columns=['surge','tide','code','tdate','date'])
df_merage

Empty DataFrame
Columns: [surge, tide, code, tdate, date]
Index: []

In [13]:
for t in data.columns.levels[0]:
    df_merage=df_merage.append(merageStormByCode(data,t,'2018-08-02'))

D:\MyPogram\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
D:\MyPogram\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
D:\MyPogram\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
df_merage.head()

                  surge  tide code             tdate        date
2018-07-09 08:00   0.36  3.43  N01  2018-07-09 08:00  2018-08-02
2018-07-09 09:00   0.35  3.58  N01  2018-07-09 09:00  2018-08-02
2018-07-09 10:00   0.34  3.73  N01  2018-07-09 10:00  2018-08-02
2018-07-09 11:00   0.33  3.86  N01  2018-07-09 11:00  2018-08-02
2018-07-09 12:00   0.33  3.97  N01  2018-07-09 12:00  2018-08-02

### 4 保存成结构化文件（或不保存）

* 转成csv结构化文件

In [34]:
df_merage.to_csv("convert_date.csv")

### 5 修改列的类型

In [15]:
df_merage['tdate']=df_merage['tdate'].astype('datetime64[ns]')
df_merage['date']=df_merage['date'].astype('datetime64[ns]')

### 6 写入数据库

定义写入数据库的方法

In [16]:
def writeInDb(df,db_name,table_name):
        # 4、连接数据库，并写入
        # '数据库类型+数据库驱动名称://用户名:口令@机器地址:端口号/数据库名'
        # 注意若使用mysql+mysqlconnector 默认使用的是mysql-python（此模块已不再更新py3的版本）
        # connect=create_engine('mysql+mysqlconnector://admin:admin123@localhost:3306/gridforecast')
        # 单位台式机配置
        engine = create_engine('mysql+mysqldb://admin:admin123@localhost:3306/gridforecast')
        # aw配置
        # engine = create_engine('mysql+mysqldb://root:admin123@localhost:3306/gridforecast')
        dtypedict={
            'str':VARCHAR(length=4),
        }
        pd.io.sql.to_sql(df,table_name,engine,schema=db_name, if_exists='append',index=False,dtype=dtypedict)

In [17]:
db_name='gridforecast'
table_name='stormtide_stormtideinfo'

In [18]:
df_merage.head()

                  surge  tide code               tdate       date
2018-07-09 08:00   0.36  3.43  N01 2018-07-09 08:00:00 2018-08-02
2018-07-09 09:00   0.35  3.58  N01 2018-07-09 09:00:00 2018-08-02
2018-07-09 10:00   0.34  3.73  N01 2018-07-09 10:00:00 2018-08-02
2018-07-09 11:00   0.33  3.86  N01 2018-07-09 11:00:00 2018-08-02
2018-07-09 12:00   0.33  3.97  N01 2018-07-09 12:00:00 2018-08-02

In [19]:
df_merage.dtypes

surge           float64
tide            float64
code             object
tdate    datetime64[ns]
date     datetime64[ns]
dtype: object

In [20]:
writeInDb(df_merage,db_name,table_name)

D:\MyPogram\lib\site-packages\sqlalchemy\engine\default.py:470: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 475")
  cursor.execute(statement, parameters)

已成功