In [1]:
import numpy as np
import pandas as pd
import os
import sys
import datetime

### 1 读取源文件

In [3]:
data=pd.read_table('StormTide_20180709.txt')
data

           2018-07-09 08:00  2018-07-09 09:00  2018-07-09 10:00  \
N01 SURGE              0.36              0.35              0.34
    TIDE               3.43              3.58              3.73
N02 SURGE              0.36              0.35              0.34
    TIDE               3.43              3.58              3.73
N03 SURGE              0.36              0.35              0.34
    TIDE               3.43              3.58              3.73

           2018-07-09 11:00  2018-07-09 12:00  2018-07-09 13:00  \
N01 SURGE              0.33              0.33              0.32
    TIDE               3.86              3.97              4.07
N02 SURGE              0.33              0.33              0.32
    TIDE               3.86              3.97              4.07
N03 SURGE              0.33              0.33              0.32
    TIDE               3.86              3.97              4.07

           2018-07-09 14:00  2018-07-09 15:00  2018-07-09 16:00  \
N01 SURGE              0.31              0.31              0.31
    TIDE               4.16              4.25              4.31
N02 SURGE              0.31              0.31              0.31
    TIDE               4.16              4.25              4.31
N03 SURGE              0.31              0.31              0.31
    TIDE               4.16              4.25              4.31

           2018-07-09 17:00        ...         2018-07-11 23:00  \
N01 SURGE              0.32        ...                     0.56
    TIDE               4.32        ...                     3.53
N02 SURGE              0.32        ...                     0.56
    TIDE               4.32        ...                     3.53
N03 SURGE              0.32        ...                     0.56
    TIDE               4.32        ...                     3.53

           2018-07-12 00:00  2018-07-12 01:00  2018-07-12 02:00  \
N01 SURGE              0.56              0.56              0.56
    TIDE               3.51              3.49              3.48
N02 SURGE              0.56              0.56              0.56
    TIDE               3.51              3.49              3.48
N03 SURGE              0.56              0.56              0.56
    TIDE               3.51              3.49              3.48

           2018-07-12 03:00  2018-07-12 04:00  2018-07-12 05:00  \
N01 SURGE              0.57              0.57              0.57
    TIDE               3.49              3.51              3.54
N02 SURGE              0.57              0.57              0.57
    TIDE               3.49              3.51              3.54
N03 SURGE              0.57              0.57              0.57
    TIDE               3.49              3.51              3.54

           2018-07-12 06:00  2018-07-12 07:00  2018-07-12 08:00
N01 SURGE              0.57              0.57              0.57
    TIDE               3.55              3.57              3.59
N02 SURGE              0.57              0.57              0.57
    TIDE               3.55              3.57              3.59
N03 SURGE              0.57              0.57              0.57
    TIDE               3.55              3.57              3.59

[6 rows x 73 columns]

### 2获取columns

In [6]:
data.columns[:5]

Index(['2018-07-09 08:00', '2018-07-09 09:00', '2018-07-09 10:00',
       '2018-07-09 11:00', '2018-07-09 12:00'],
      dtype='object')

In [10]:
data.index

MultiIndex(levels=[['N01', 'N02', 'N03'], ['SURGE', 'TIDE']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [12]:
data.T.head()

                   N01         N02         N03
                 SURGE  TIDE SURGE  TIDE SURGE  TIDE
2018-07-09 08:00  0.36  3.43  0.36  3.43  0.36  3.43
2018-07-09 09:00  0.35  3.58  0.35  3.58  0.35  3.58
2018-07-09 10:00  0.34  3.73  0.34  3.73  0.34  3.73
2018-07-09 11:00  0.33  3.86  0.33  3.86  0.33  3.86
2018-07-09 12:00  0.33  3.97  0.33  3.97  0.33  3.97

* 找到最大值所在的位置

In [14]:
data.T.idxmax(axis=1).head()

2018-07-09 08:00    (N01, TIDE)
2018-07-09 09:00    (N01, TIDE)
2018-07-09 10:00    (N01, TIDE)
2018-07-09 11:00    (N01, TIDE)
2018-07-09 12:00    (N01, TIDE)
dtype: object

In [15]:
data.T.idxmax(axis=0).head()

N01  SURGE    2018-07-10 15:00
     TIDE     2018-07-10 01:00
N02  SURGE    2018-07-10 15:00
     TIDE     2018-07-10 01:00
N03  SURGE    2018-07-10 15:00
dtype: object

* 获取最大值出现的时间

In [16]:
pd.DataFrame([data.T.idxmax(axis=0)]).T

                          0
N01 SURGE  2018-07-10 15:00
    TIDE   2018-07-10 01:00
N02 SURGE  2018-07-10 15:00
    TIDE   2018-07-10 01:00
N03 SURGE  2018-07-10 15:00
    TIDE   2018-07-10 01:00

In [18]:
df_max_dt=data.T.idxmax(axis=0).unstack()

In [25]:
df_max_dt.columns=['SURGE_DT','TIDE_DT']

In [26]:
df_max_dt

             SURGE_DT           TIDE_DT
N01  2018-07-10 15:00  2018-07-10 01:00
N02  2018-07-10 15:00  2018-07-10 01:00
N03  2018-07-10 15:00  2018-07-10 01:00

* 获取最大值

In [20]:
data.T.max()

N01  SURGE    0.87
     TIDE     4.73
N02  SURGE    0.87
     TIDE     4.73
N03  SURGE    0.87
     TIDE     4.73
dtype: float64

In [22]:
df_max_val=data.T.max().unstack()

In [27]:
df_max_val.columns=['SURGE_VAL','TIDE_VAL']

In [30]:
df_max_val

     SURGE_VAL  TIDE_VAL
N01       0.87      4.73
N02       0.87      4.73
N03       0.87      4.73

In [31]:
final_df=pd.concat([df_max_dt,df_max_val],axis=1)

In [32]:
final_df

             SURGE_DT           TIDE_DT  SURGE_VAL  TIDE_VAL
N01  2018-07-10 15:00  2018-07-10 01:00       0.87      4.73
N02  2018-07-10 15:00  2018-07-10 01:00       0.87      4.73
N03  2018-07-10 15:00  2018-07-10 01:00       0.87      4.73