In [2]:
import numpy as np
import pandas as pd
import os
import sys

### 一、读取指定路径下的名称文件

#### 读取指定路径下的文件方式1：

In [3]:
targetpath=r"D:\git仓库\GridForecastSys\extra_data\grid_data"
filename="names_E.txt"
fullname=os.path.join(targetpath,filename)
print(fullname)
#data=np.loadtxt(fullname)
# data=pd.read_table(targetpath,encoding = 'utf-8',header=None)
with open(fullname,"rb") as f:
    data=pd.read_table(f,sep='\n',encoding='utf-8',header=None)
    print('读取成功')
# f=open(fullname)
# data=pd.read_table(f,encoding='utf-8')

D:\git仓库\GridForecastSys\extra_data\grid_data\names_E.txt
读取成功

In [4]:
data.head()

            0
0  江苏省连云港市赣榆区
1  江苏省连云港市连云区
2  江苏省连云港市灌云县
3   江苏省盐城市响水县
4   江苏省盐城市滨海县

#### 读取指定路径下的文件方式2：

In [12]:
trainFile = r"D:\git仓库\GridForecastSys\byjupyter\data\_names_S.txt"

pwd = os.getcwd()
print("pwd:%s"%pwd)
os.chdir(os.path.dirname(trainFile))

trainData = pd.read_csv(os.path.basename(trainFile),header=None)
os.chdir(pwd)

pwd:D:\git仓库\GridForecastSys\byjupyter

In [13]:
trainData.head()

              0
0     广东省汕头市南澳县
1     广东省潮州市饶平县
2     广东省汕头市潮阳区
3     广东省揭阳市惠来县
4  广东省汕尾市城区遮浪街道

### 二、取出所有的数据

In [5]:
data.head()

            0
0  江苏省连云港市赣榆区
1  江苏省连云港市连云区
2  江苏省连云港市灌云县
3   江苏省盐城市响水县
4   江苏省盐城市滨海县

In [6]:
data.loc[0]

0    江苏省连云港市赣榆区
Name: 0, dtype: object

In [7]:
data.iloc[0]

0    江苏省连云港市赣榆区
Name: 0, dtype: object

In [8]:
for temp in data:
    print(temp)

0

In [9]:
type(data)

pandas.core.frame.DataFrame

In [10]:
for i in range(0,len(data)):
    print(data.iloc[i])

0    江苏省连云港市赣榆区
Name: 0, dtype: object
0    江苏省连云港市连云区
Name: 1, dtype: object
0    江苏省连云港市灌云县
Name: 2, dtype: object
0    江苏省盐城市响水县
Name: 3, dtype: object
0    江苏省盐城市滨海县
Name: 4, dtype: object
0    江苏省盐城市射阳县
Name: 5, dtype: object
0    江苏省盐城市亭湖区
Name: 6, dtype: object
0    江苏省盐城市大丰区
Name: 7, dtype: object
0    江苏省盐城市东台市
Name: 8, dtype: object
0    江苏省南通市海安县
Name: 9, dtype: object
0    江苏省南通市如东县
Name: 10, dtype: object
0    江苏省南通市通州区
Name: 11, dtype: object
0    江苏省南通市海门市
Name: 12, dtype: object
0    江苏省南通市启东市
Name: 13, dtype: object
0    上海市崇明区
Name: 14, dtype: object
0    上海市宝山区
Name: 15, dtype: object
0    上海市浦东新区
Name: 16, dtype: object
0    上海市浦东新区
Name: 17, dtype: object
0    上海市奉贤区
Name: 18, dtype: object
0    上海市金山区
Name: 19, dtype: object
0    上海市
Name: 20, dtype: object
0    浙江省舟山市嵊泗县
Name: 21, dtype: object
0    浙江省舟山市嵊泗县
Name: 22, dtype: object
0    浙江省舟山市嵊泗县
Name: 23, dtype: object
0    浙江省舟山市岱山县
Name: 24, dtype: object
0    浙江省舟山市岱山县
Name: 25, dtype: object
0    浙江省舟山市岱山县
Name: 26, dtype: object
0    浙江省舟山市普陀区
Name: 27, dtype: object
0    浙江省舟山市普陀区
Name: 28, dtype: object
0    浙江省舟山市普陀区
Name: 29, dtype: object
0    浙江省舟山市普陀区
Name: 30, dtype: object
0    浙江省嘉兴市平湖市
Name: 31, dtype: object
0    浙江省嘉兴市海盐市
Name: 32, dtype: object
0    浙江省宁波市余姚市
Name: 33, dtype: object
0    浙江省宁波市杭州湾新区
Name: 34, dtype: object
0    浙江省宁波市慈溪市
Name: 35, dtype: object
0    浙江省宁波市镇海区
Name: 36, dtype: object
0    浙江省宁波市北仑区
Name: 37, dtype: object
0    浙江省宁波市北仑区
Name: 38, dtype: object
0    浙江省宁波市鄞洲区
Name: 39, dtype: object
0    浙江省宁波市象山县
Name: 40, dtype: object
0    浙江省宁波市象山县
Name: 41, dtype: object
0    浙江省宁波市象山县
Name: 42, dtype: object
0    浙江省宁波市宁海县
Name: 43, dtype: object
0    三门县
Name: 44, dtype: object
0    临海市
Name: 45, dtype: object
0    台州市椒江区
Name: 46, dtype: object
0    台州市路桥区
Name: 47, dtype: object
0    台州市椒江区
Name: 48, dtype: object
0    温岭市
Name: 49, dtype: object
0    玉环市
Name: 50, dtype: object
0    乐清市
Name: 51, dtype: object
0    温州市龙湾区
Name: 52, dtype: object
0    温州市洞头区
Name: 53, dtype: object
0    瑞安市
Name: 54, dtype: object
0    平阳县
Name: 55, dtype: object
0    苍南县
Name: 56, dtype: object
0    平阳县
Name: 57, dtype: object
0    瑞安县
Name: 58, dtype: object
0    福建省福鼎市
Name: 59, dtype: object
0    福建省福鼎市
Name: 60, dtype: object
0    福建省宁德市霞浦县
Name: 61, dtype: object
0    福建省宁德市霞浦县
Name: 62, dtype: object
0    福建省宁德市蕉城区
Name: 63, dtype: object
0    福建省福州市连江县
Name: 64, dtype: object
0    福建省宁德市霞浦县
Name: 65, dtype: object
0    福建省福州市连江县
Name: 66, dtype: object
0    福建省福州市连江县
Name: 67, dtype: object
0    福建省长乐市
Name: 68, dtype: object
0    福建省福清市
Name: 69, dtype: object
0    福建省福清市
Name: 70, dtype: object
0    福建省平潭综合实验区
Name: 71, dtype: object
0    福建省莆田市秀屿区
Name: 72, dtype: object
0    福建省莆田市秀屿区
Name: 73, dtype: object
0    福建省泉州市泉港区
Name: 74, dtype: object
0    福建省泉州市惠安县
Name: 75, dtype: object
0    福建省泉州市石狮市
Name: 76, dtype: object
0    福建省泉州市晋江市
Name: 77, dtype: object
0    福建省厦门市思明区
Name: 78, dtype: object
0    台湾省金门县
Name: 79, dtype: object
0    福建省漳州市龙海市
Name: 80, dtype: object
0    福建省漳州市漳浦县
Name: 81, dtype: object
0    福建省漳州市东山县
Name: 82, dtype: object
0    福建省漳州市漳浦县
Name: 83, dtype: object
0    福建省漳州市诏安县
Name: 84, dtype: object

In [11]:
for index,row in data.head().iterrows():
#     print(row)
    print(row[0])

江苏省连云港市赣榆区
江苏省连云港市连云区
江苏省连云港市灌云县
江苏省盐城市响水县
江苏省盐城市滨海县

In [12]:
data.index

RangeIndex(start=0, stop=85, step=1)

#### 遍历字典

In [13]:
AreaNames_Dict={'n':'names_N','e':'names_E','s':'names_S'}

In [14]:
for item in AreaNames_Dict:
    print(item+":"+AreaNames_Dict[item])
#     print(item.key+":"+item.value)

n:names_N
e:names_E
s:names_S