In [2]:
import numpy as np
import pandas as pd
import os
import sys
import datetime

## 1 读取预报文件

In [7]:
targetpath=r"D:\git仓库\GridForecastSys\extra_data\grid_data"
filename="Sample_new.txt"
fullname=os.path.join(targetpath,filename)
print(fullname)
#data=np.loadtxt(fullname)
# data=pd.read_table(targetpath,encoding = 'utf-8',header=None)
with open(fullname,"rb") as f:
    columns_date=pd.read_table(f,sep='\t',encoding='utf-8',nrows=1,header=None)
with open(fullname,"rb") as f:
#     columns_date=pd.read_table(f,sep='\t',encoding='utf-8',nrows=1,header=None)
    data=pd.read_table(f,sep='\t',encoding='utf-8',header=None,infer_datetime_format=True)
    print('读取成功')

D:\git仓库\GridForecastSys\extra_data\grid_data\Sample_new.txt
读取成功

In [8]:
columns_date

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,NaN,NaN,2018022608,2018022609,2018022610,2018022611,2018022612,2018022613,2018022614,2018022615,...,2018022823,2018030100,2018030101,2018030102,2018030103,2018030104,2018030105,2018030106,2018030107,2018030108

In [9]:
data

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,NaN,NaN,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,...,2.018023e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09
1,N01,HS,4.900000e-01,4.800000e-01,4.600000e-01,4.500000e-01,4.300000e-01,4.200000e-01,4.100000e-01,4.000000e-01,...,3.500000e-01,3.500000e-01,3.500000e-01,3.500000e-01,3.500000e-01,3.500000e-01,3.600000e-01,3.600000e-01,3.900000e-01,4.200000e-01
2,N01,PER,3.140000e+00,3.140000e+00,3.200000e+00,3.270000e+00,3.340000e+00,3.380000e+00,3.410000e+00,3.440000e+00,...,3.700000e+00,3.740000e+00,3.810000e+00,3.900000e+00,3.950000e+00,3.930000e+00,3.850000e+00,3.660000e+00,3.300000e+00,3.050000e+00
3,N01,DIR,1.119000e+01,1.121000e+01,1.250000e+01,1.401000e+01,1.501000e+01,1.563000e+01,1.605000e+01,1.631000e+01,...,1.703000e+01,1.733000e+01,1.759000e+01,1.784000e+01,1.762000e+01,1.695000e+01,1.589000e+01,1.379000e+01,9.300000e+00,5.260000e+00
4,N02,HS,4.400000e-01,4.300000e-01,4.200000e-01,4.100000e-01,4.000000e-01,4.000000e-01,3.900000e-01,3.800000e-01,...,3.100000e-01,3.200000e-01,3.200000e-01,3.200000e-01,3.200000e-01,3.200000e-01,3.200000e-01,3.400000e-01,3.900000e-01,4.500000e-01
5,N02,PER,4.030000e+00,4.050000e+00,4.060000e+00,4.040000e+00,4.020000e+00,3.990000e+00,3.940000e+00,3.940000e+00,...,4.290000e+00,4.360000e+00,4.420000e+00,4.470000e+00,4.440000e+00,4.350000e+00,4.150000e+00,3.760000e+00,3.280000e+00,3.070000e+00
6,N02,DIR,3.353400e+02,3.353400e+02,3.354000e+02,3.359000e+02,3.363900e+02,3.368700e+02,3.372800e+02,3.371100e+02,...,3.404500e+02,3.408600e+02,3.412200e+02,3.414300e+02,3.409500e+02,3.398700e+02,3.377500e+02,3.334400e+02,3.267200e+02,3.216300e+02
7,N03,HS,1.900000e-01,1.900000e-01,2.000000e-01,2.100000e-01,2.400000e-01,2.800000e-01,3.200000e-01,3.500000e-01,...,1.700000e-01,1.700000e-01,1.700000e-01,1.700000e-01,1.700000e-01,1.700000e-01,1.800000e-01,1.900000e-01,2.100000e-01,2.200000e-01
8,N03,PER,3.680000e+00,3.610000e+00,3.320000e+00,3.050000e+00,2.840000e+00,2.670000e+00,2.580000e+00,2.580000e+00,...,3.810000e+00,3.900000e+00,3.940000e+00,3.930000e+00,3.730000e+00,3.480000e+00,3.270000e+00,3.210000e+00,3.210000e+00,3.250000e+00
9,N03,DIR,3.394000e+02,3.414100e+02,3.452200e+02,3.482400e+02,3.511400e+02,3.538700e+02,3.556600e+02,3.561200e+02,...,3.487800e+02,3.492000e+02,3.495900e+02,3.494300e+02,3.455800e+02,3.393400e+02,3.332600e+02,3.320000e+02,3.325800e+02,3.330500e+02
10,N04,HS,5.200000e-01,5.100000e-01,5.100000e-01,5.100000e-01,5.200000e-01,5.200000e-01,5.200000e-01,5.100000e-01,...,4.900000e-01,4.900000e-01,4.800000e-01,4.700000e-01,4.700000e-01,4.700000e-01,5.100000e-01,5.500000e-01,5.900000e-01,6.200000e-01
11,N04,PER,3.920000e+00,3.910000e+00,3.820000e+00,3.690000e+00,3.590000e+00,3.530000e+00,3.480000e+00,3.460000e+00,...,4.270000e+00,4.320000e+00,4.330000e+00,4.310000e+00,4.230000e+00,4.130000e+00,4.030000e+00,4.010000e+00,4.060000e+00,4.140000e+00
12,N04,DIR,3.571800e+02,3.585600e+02,3.597600e+02,8.000000e-01,1.430000e+00,1.360000e+00,7.000000e-01,3.596900e+02,...,3.567600e+02,3.565700e+02,3.559200e+02,3.548100e+02,3.531900e+02,3.518600e+02,3.510000e+02,3.511900e+02,3.520300e+02,3.531000e+02
13,N05,HS,8.200000e-01,8.000000e-01,7.800000e-01,7.700000e-01,7.500000e-01,7.300000e-01,7.200000e-01,7.100000e-01,...,7.100000e-01,7.100000e-01,7.000000e-01,6.900000e-01,6.900000e-01,7.100000e-01,7.400000e-01,8.000000e-01,8.700000e-01,9.300000e-01
14,N05,PER,4.220000e+00,4.250000e+00,4.280000e+00,4.310000e+00,4.320000e+00,4.310000e+00,4.280000e+00,4.220000e+00,...,4.600000e+00,4.660000e+00,4.700000e+00,4.690000e+00,4.650000e+00,4.580000e+00,4.520000e+00,4.500000e+00,4.540000e+00,4.610000e+00
15,N05,DIR,3.525400e+02,3.531700e+02,3.538900e+02,3.544100e+02,3.547300e+02,3.548900e+02,3.549200e+02,3.549000e+02,...,3.549200e+02,3.548900e+02,3.547300e+02,3.544500e+02,3.541800e+02,3.542800e+02,3.549100e+02,3.559200e+02,3.569200e+02,3.575100e+02
16,N06,HS,7.600000e-01,7.500000e-01,7.300000e-01,7.200000e-01,7.000000e-01,6.700000e-01,6.500000e-01,6.200000e-01,...,7.600000e-01,7.300000e-01,7.100000e-01,6.900000e-01,7.100000e-01,7.400000e-01,7.900000e-01,8.300000e-01,8.700000e-01,9.100000e-01
17,N06,PER,4.050000e+00,4.050000e+00,4.040000e+00,4.030000e+00,4.040000e+00,4.060000e+00,4.080000e+00,4.090000e+00,...,4.150000e+00,4.140000e+00,4.090000e+00,4.020000e+00,3.990000e+00,4.020000e+00,4.060000e+00,4.100000e+00,4.130000e+00,4.160000e+00
18,N06,DIR,3.449500e+02,3.449000e+02,3.447000e+02,3.443900e+02,3.437400e+02,3.427200e+02,3.415300e+02,3.402200e+02,...,3.420100e+02,3.411400e+02,3.401500e+02,3.392100e+02,3.385500e+02,3.381100e+02,3.376100e+02,3.369800e+02,3.363000e+02,3.356700e+02
19,N07,HS,4.700000e-01,4.600000e-01,4.500000e-01,4.300000e-01,4.100000e-01,4.000000e-01,3.800000e-01,3.600000e-01,...,5.000000e-01,4.800000e-01,4.600000e-01,4.400000e-01,4.400000e-01,4.500000e-01,4.600000e-01,4.800000e-01,5.000000e-01,5.200000e-01
20,N07,PER,3.870000e+00,3.860000e+00,3.860000e+00,3.870000e+00,3.890000e+00,3.920000e+00,3.950000e+00,3.980000e+00,...,3.930000e+00,3.900000e+00,3.840000e+00,3.780000e+00,3.740000e+00,3.760000e+00,3.810000e+00,3.840000e+00,3.830000e+00,3.800000e+00
21,N07,DIR,3.467300e+02,3.466800e+02,3.460300e+02,3.449700e+02,3.436600e+02,3.421600e+02,3.405600e+02,3.390000e+02,...,3.398200e+02,3.385800e+02,3.373900e+02,3.362700e+02,3.353200e+02,3.344300e+02,3.335000e+02,3.325300e+02,3.315900e+02,3.308900e+02
22,N08,HS,7.100000e-01,7.000000e-01,6.800000e-01,6.600000e-01,6.400000e-01,6.100000e-01,5.700000e-01,5.400000e-01,...,7.200000e-01,6.800000e-01,6.600000e-01,6.600000e-01,6.700000e-01,6.900000e-01,7.000000e-01,7.300000e-01,7.600000e-01,8.000000e-01
23,N08,PER,3.820000e+00,3.850000e+00,3.890000e+00,3.940000e+00,3.980000e+00,4.000000e+00,4.010000e+00,4.020000e+00,...,3.840000e+00,3.790000e+00,3.720000e+00,3.660000e+00,3.670000e+00,3.720000e+00,3.780000e+00,3.810000e+00,3.820000e+00,3.840000e+00
24,N08,DIR,3.517200e+02,3.536200e+02,3.548300e+02,3.555800e+02,3.546000e+02,3.515600e+02,3.476000e+02,3.438400e+02,...,3.311300e+02,3.294200e+02,3.279900e+02,3.267800e+02,3.258000e+02,3.248200e+02,3.237900e+02,3.227700e+02,3.219300e+02,3.213100e+02
25,N09,HS,7.400000e-01,7.100000e-01,6.600000e-01,6.100000e-01,5.700000e-01,5.400000e-01,5.100000e-01,4.800000e-01,...,7.300000e-01,6.800000e-01,6.400000e-01,6.200000e-01,6.000000e-01,5.900000e-01,5.800000e-01,6.000000e-01,6.300000e-01,6.800000e-01
26,N09,PER,3.840000e+00,3.870000e+00,3.860000e+00,3.840000e+00,3.820000e+00,3.800000e+00,3.790000e+00,3.780000e+00,...,3.730000e+00,3.690000e+00,3.640000e+00,3.600000e+00,3.570000e+00,3.570000e+00,3.580000e+00,3.590000e+00,3.600000e+00,3.630000e+00
27,N09,DIR,1.287000e+01,1.655000e+01,1.547000e+01,1.100000e+01,5.440000e+00,1.200000e-01,3.550400e+02,3.498800e+02,...,3.196600e+02,3.174700e+02,3.157400e+02,3.143700e+02,3.132100e+02,3.120600e+02,3.108300e+02,3.095800e+02,3.086000e+02,3.080000e+02
28,N10,HS,7.100000e-01,6.600000e-01,6.100000e-01,5.600000e-01,5.100000e-01,4.800000e-01,4.400000e-01,4.100000e-01,...,5.900000e-01,5.400000e-01,5.000000e-01,4.700000e-01,4.400000e-01,4.200000e-01,4.100000e-01,4.100000e-01,4.200000e-01,4.600000e-01
29,N10,PER,3.510000e+00,3.510000e+00,3.500000e+00,3.480000e+00,3.470000e+00,3.440000e+00,3.410000e+00,3.380000e+00,...,3.340000e+00,3.290000e+00,3.230000e+00,3.180000e+00,3.140000e+00,3.130000e+00,3.140000e+00,3.110000e+00,3.050000e+00,3.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,S42,HS,6.200000e-01,6.200000e-01,6.300000e-01,6.400000e-01,6.400000e-01,6.500000e-01,6.600000e-01,6.700000e-01,...,8.600000e-01,9.000000e-01,9.300000e-01,9.700000e-01,9.900000e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
611,S42,PER,5.480000e+00,5.500000e+00,5.510000e+00,5.510000e+00,5.520000e+00,5.510000e+00,5.480000e+00,5.440000e+00,...,6.470000e+00,6.540000e+00,6.570000e+00,6.540000e+00,6.450000e+00,6.350000e+00,6.250000e+00,6.180000e+00,6.130000e+00,6.110000e+00
612,S42,DIR,2.996700e+02,2.995800e+02,2.989500e+02,2.979000e+02,2.966100e+02,2.953100e+02,2.943000e+02,2.935000e+02,...,3.080700e+02,3.121100e+02,3.157900e+02,3.183600e+02,3.197500e+02,3.201700e+02,3.198300e+02,3.189400e+02,3.176600e+02,3.161400e+02
613,S43,HS,3.800000e-01,3.800000e-01,3.800000e-01,3.800000e-01,3.700000e-01,3.700000e-01,3.700000e-01,3.700000e-01,...,4.800000e-01,5.200000e-01,5.700000e-01,6.100000e-01,6.300000e-01,6.500000e-01,6.500000e-01,6.500000e-01,6.500000e-01,6.500000e-01
614,S43,PER,5.320000e+00,5.390000e+00,5.440000e+00,5.480000e+00,5.510000e+00,5.540000e+00,5.330000e+00,5.330000e+00,...,6.080000e+00,6.030000e+00,6.010000e+00,6.010000e+00,6.000000e+00,5.970000e+00,5.920000e+00,5.860000e+00,5.770000e+00,5.670000e+00
615,S43,DIR,3.199000e+02,3.218300e+02,3.235200e+02,3.248500e+02,3.258900e+02,3.267500e+02,3.289800e+02,3.297800e+02,...,3.384300e+02,3.431400e+02,3.459200e+02,3.469700e+02,3.470900e+02,3.468700e+02,3.466000e+02,3.465400e+02,3.470200e+02,3.483500e+02
616,S44,HS,2.200000e-01,2.200000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,...,3.400000e-01,3.500000e-01,3.600000e-01,3.800000e-01,3.900000e-01,4.200000e-01,4.600000e-01,5.100000e-01,5.400000e-01,5.700000e-01
617,S44,PER,5.060000e+00,5.160000e+00,5.260000e+00,5.360000e+00,5.430000e+00,5.490000e+00,5.540000e+00,5.580000e+00,...,4.720000e+00,4.690000e+00,4.750000e+00,4.870000e+00,5.010000e+00,5.050000e+00,4.930000e+00,4.790000e+00,4.720000e+00,4.690000e+00
618,S44,DIR,3.379600e+02,3.393900e+02,3.408200e+02,3.421400e+02,3.432900e+02,3.442800e+02,3.451100e+02,3.458100e+02,...,3.334000e+01,3.260000e+01,2.920000e+01,2.403000e+01,1.873000e+01,1.599000e+01,1.774000e+01,2.106000e+01,2.356000e+01,2.515000e+01
619,S45,HS,7.000000e-02,7.000000e-02,7.000000e-02,7.000000e-02,7.000000e-02,7.000000e-02,7.000000e-02,7.000000e-02,...,2.600000e-01,2.700000e-01,3.000000e-01,3.400000e-01,3.600000e-01,3.600000e-01,3.500000e-01,3.400000e-01,3.400000e-01,3.600000e-01
620,S45,PER,4.900000e+00,5.050000e+00,5.200000e+00,5.330000e+00,5.440000e+00,5.510000e+00,5.550000e+00,5.550000e+00,...,3.100000e+00,3.130000e+00,3.070000e+00,2.980000e+00,3.000000e+00,3.040000e+00,3.110000e+00,3.220000e+00,3.350000e+00,3.510000e+00
621,S45,DIR,2.416000e+01,2.496000e+01,2.604000e+01,2.707000e+01,2.788000e+01,2.845000e+01,2.880000e+01,2.898000e+01,...,7.557000e+01,6.309000e+01,5.055000e+01,4.048000e+01,3.592000e+01,3.421000e+01,3.440000e+01,3.659000e+01,3.987000e+01,4.281000e+01
622,S46,HS,1.000000e-01,9.000000e-02,8.000000e-02,8.000000e-02,8.000000e-02,9.000000e-02,1.000000e-01,1.300000e-01,...,3.000000e-01,2.900000e-01,2.800000e-01,2.900000e-01,3.100000e-01,3.400000e-01,3.800000e-01,3.900000e-01,3.900000e-01,3.600000e-01
623,S46,PER,3.290000e+00,3.310000e+00,3.310000e+00,3.300000e+00,3.280000e+00,3.190000e+00,2.940000e+00,2.730000e+00,...,3.740000e+00,3.720000e+00,3.700000e+00,3.710000e+00,3.780000e+00,3.850000e+00,3.880000e+00,3.870000e+00,3.840000e+00,3.790000e+00
624,S46,DIR,2.301800e+02,2.302900e+02,2.298800e+02,2.286900e+02,2.266000e+02,2.222900e+02,2.117300e+02,2.061100e+02,...,1.903900e+02,1.879600e+02,1.858100e+02,1.856000e+02,1.894700e+02,1.944700e+02,1.971700e+02,2.005900e+02,1.672200e+02,1.207500e+02
625,S47,HS,1.100000e-01,1.100000e-01,1.000000e-01,1.000000e-01,9.000000e-02,9.000000e-02,9.000000e-02,8.000000e-02,...,3.000000e-01,3.600000e-01,3.800000e-01,3.800000e-01,3.600000e-01,3.300000e-01,2.900000e-01,2.600000e-01,2.300000e-01,2.000000e-01
626,S47,PER,2.540000e+00,2.510000e+00,2.500000e+00,2.490000e+00,2.470000e+00,2.430000e+00,2.350000e+00,2.300000e+00,...,3.050000e+00,3.170000e+00,3.290000e+00,3.340000e+00,3.390000e+00,3.410000e+00,3.410000e+00,3.380000e+00,3.340000e+00,3.310000e+00
627,S47,DIR,2.334100e+02,2.299700e+02,2.263700e+02,2.232300e+02,2.208700e+02,2.182600e+02,2.148200e+02,2.104800e+02,...,2.162900e+02,2.213300e+02,2.241200e+02,2.258700e+02,2.263000e+02,2.262600e+02,2.262400e+02,2.264500e+02,2.265900e+02,2.261300e+02
628,S48,HS,9.000000e-02,9.000000e-02,9.000000e-02,1.000000e-01,1.000000e-01,1.100000e-01,1.300000e-01,2.100000e-01,...,5.400000e-01,5.200000e-01,5.100000e-01,4.900000e-01,4.700000e-01,4.400000e-01,4.000000e-01,3.700000e-01,3.300000e-01,2.900000e-01
629,S48,PER,3.000000e+00,3.060000e+00,3.070000e+00,3.070000e+00,3.040000e+00,2.910000e+00,2.690000e+00,2.380000e+00,...,3.200000e+00,3.170000e+00,3.130000e+00,3.100000e+00,3.080000e+00,3.060000e+00,3.040000e+00,3.010000e+00,2.990000e+00,3.030000e+00
630,S48,DIR,1.714400e+02,2.620900e+02,2.599000e+02,2.594700e+02,2.604200e+02,2.612100e+02,2.617800e+02,2.535600e+02,...,1.827000e+02,1.476600e+02,1.244000e+02,8.909000e+01,8.917000e+01,8.901000e+01,8.929000e+01,1.239600e+02,1.469400e+02,1.484900e+02
631,S49,HS,1.300000e-01,1.300000e-01,1.400000e-01,1.500000e-01,1.700000e-01,2.200000e-01,3.400000e-01,4.600000e-01,...,3.800000e-01,3.600000e-01,3.400000e-01,3.200000e-01,3.000000e-01,2.700000e-01,2.600000e-01,2.500000e-01,2.400000e-01,2.400000e-01
632,S49,PER,3.100000e+00,3.050000e+00,2.980000e+00,2.900000e+00,2.690000e+00,2.440000e+00,2.300000e+00,2.490000e+00,...,2.930000e+00,2.930000e+00,2.970000e+00,3.040000e+00,3.170000e+00,3.360000e+00,3.620000e+00,3.830000e+00,3.970000e+00,4.040000e+00
633,S49,DIR,2.484900e+02,2.489900e+02,2.495600e+02,2.502100e+02,2.516300e+02,2.529100e+02,2.529100e+02,2.499200e+02,...,2.124300e+02,1.486800e+02,1.050100e+02,1.017900e+02,1.155400e+02,1.742700e+02,2.022800e+02,2.196900e+02,2.405200e+02,2.402500e+02
634,S50,HS,2.900000e-01,3.000000e-01,3.200000e-01,3.500000e-01,4.000000e-01,4.600000e-01,5.100000e-01,5.400000e-01,...,5.800000e-01,5.700000e-01,5.700000e-01,5.800000e-01,5.800000e-01,5.800000e-01,5.800000e-01,5.700000e-01,5.500000e-01,5.400000e-01
635,S50,PER,3.930000e+00,3.830000e+00,3.670000e+00,3.450000e+00,3.260000e+00,3.170000e+00,3.160000e+00,3.220000e+00,...,4.200000e+00,4.270000e+00,4.320000e+00,4.340000e+00,4.400000e+00,4.510000e+00,4.630000e+00,4.700000e+00,4.740000e+00,4.770000e+00
636,S50,DIR,2.380700e+02,2.386100e+02,2.393900e+02,2.404700e+02,2.415400e+02,2.423100e+02,2.427900e+02,2.430600e+02,...,2.386000e+02,2.381800e+02,2.381600e+02,2.384300e+02,2.385500e+02,2.384800e+02,2.383000e+02,2.382800e+02,2.383000e+02,2.383300e+02
637,S51,HS,7.400000e-01,7.800000e-01,8.300000e-01,8.900000e-01,9.300000e-01,9.600000e-01,9.900000e-01,1.020000e+00,...,1.270000e+00,1.300000e+00,1.340000e+00,1.390000e+00,1.410000e+00,1.390000e+00,1.360000e+00,1.320000e+00,1.300000e+00,1.290000e+00
638,S51,PER,4.240000e+00,4.190000e+00,4.180000e+00,4.190000e+00,4.220000e+00,4.250000e+00,4.270000e+00,4.290000e+00,...,5.040000e+00,5.020000e+00,4.990000e+00,4.980000e+00,5.010000e+00,5.080000e+00,5.150000e+00,5.200000e+00,5.220000e+00,5.240000e+00
639,S51,DIR,3.200900e+02,3.200900e+02,3.202700e+02,3.145300e+02,3.063000e+02,3.122500e+02,3.120800e+02,3.201600e+02,...,3.002200e+02,2.954900e+02,2.939700e+02,2.956700e+02,2.909500e+02,2.912600e+02,2.969700e+02,2.971800e+02,2.978200e+02,2.929000e+02

#### 读取第一行
 注意此时的第一行数据为一个series

In [60]:
columns_date=data.iloc[0]

In [61]:
type(columns_date)

pandas.core.series.Series

In [62]:
columns_date.head()

0            NaN
1            NaN
2    2.01802e+09
3    2.01802e+09
4    2.01802e+09
Name: 0, dtype: object

### 数据清理
#### 处理nan
 对于series仍可以使用.notnull()与.isnull()过滤nan  
 返回的类型均为series

In [63]:
columns_date.notnull().head()

0    False
1    False
2     True
3     True
4     True
Name: 0, dtype: bool

In [64]:
columns_date.isnull().head()

0     True
1     True
2    False
3    False
4    False
Name: 0, dtype: bool

In [65]:
type(columns_date.notnull())

pandas.core.series.Series

In [66]:
type(columns_date.isnull())

pandas.core.series.Series

In [67]:
columns_date.isnull().values

array([ True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False], dtype=bool)

* 此处可以使用

In [68]:
columns_date[columns_date.notnull()].head()

2    2.01802e+09
3    2.01802e+09
4    2.01802e+09
5    2.01802e+09
6    2.01802e+09
Name: 0, dtype: object

#### 1-2 df.dropna(axis=1)：删除所有包含空值的列  
 注意对于Series类型的数据不能使用.dropna（）方法

In [69]:
columns_date.dropna(axis=1)

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [70]:
# 转成list
columns_date_notnan=columns_date[columns_date.notnull()]
columns_date_notnan.head()
# columns_date_convert

2    2.01802e+09
3    2.01802e+09
4    2.01802e+09
5    2.01802e+09
6    2.01802e+09
Name: 0, dtype: object

In [71]:
columns_date_notnan.index

Int64Index([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
            36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
            53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
            70, 71, 72, 73, 74],
           dtype='int64')

#### series的values是一个numpy.ndarray

In [72]:
type(columns_date_notnan.values)

numpy.ndarray

In [73]:
columns_date_notnan.values

array([2018022608.0, 2018022609.0, 2018022610.0, 2018022611.0,
       2018022612.0, 2018022613.0, 2018022614.0, 2018022615.0,
       2018022616.0, 2018022617.0, 2018022618.0, 2018022619.0,
       2018022620.0, 2018022621.0, 2018022622.0, 2018022623.0,
       2018022700.0, 2018022701.0, 2018022702.0, 2018022703.0,
       2018022704.0, 2018022705.0, 2018022706.0, 2018022707.0,
       2018022708.0, 2018022709.0, 2018022710.0, 2018022711.0,
       2018022712.0, 2018022713.0, 2018022714.0, 2018022715.0,
       2018022716.0, 2018022717.0, 2018022718.0, 2018022719.0,
       2018022720.0, 2018022721.0, 2018022722.0, 2018022723.0,
       2018022800.0, 2018022801.0, 2018022802.0, 2018022803.0,
       2018022804.0, 2018022805.0, 2018022806.0, 2018022807.0,
       2018022808.0, 2018022809.0, 2018022810.0, 2018022811.0,
       2018022812.0, 2018022813.0, 2018022814.0, 2018022815.0,
       2018022816.0, 2018022817.0, 2018022818.0, 2018022819.0,
       2018022820.0, 2018022821.0, 2018022822.0, 2018022823.0,
       2018030100.0, 2018030101.0, 2018030102.0, 2018030103.0,
       2018030104.0, 2018030105.0, 2018030106.0, 2018030107.0, 2018030108.0], dtype=object)

In [74]:
print(columns_date_notnan.values[0])
print(type(columns_date_notnan.values[0]))

2018022608.0
<class 'numpy.float64'>

调用map方法

In [75]:
columns_date_notnan_convert=columns_date_notnan.map(str)
print(columns_date_notnan_convert.values[0])
print(type(columns_date_notnan_convert.values[0]))

2018022608.0
<class 'str'>

In [76]:
columns_date_notnan.to_frame().head()

             0
2  2.01802e+09
3  2.01802e+09
4  2.01802e+09
5  2.01802e+09
6  2.01802e+09

In [77]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,NaN,NaN,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,2.018023e+09,...,2.018023e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09,2.018030e+09
1,N01,HS,4.900000e-01,4.800000e-01,4.600000e-01,4.500000e-01,4.300000e-01,4.200000e-01,4.100000e-01,4.000000e-01,...,3.500000e-01,3.500000e-01,3.500000e-01,3.500000e-01,3.500000e-01,3.500000e-01,3.600000e-01,3.600000e-01,3.900000e-01,4.200000e-01
2,N01,PER,3.140000e+00,3.140000e+00,3.200000e+00,3.270000e+00,3.340000e+00,3.380000e+00,3.410000e+00,3.440000e+00,...,3.700000e+00,3.740000e+00,3.810000e+00,3.900000e+00,3.950000e+00,3.930000e+00,3.850000e+00,3.660000e+00,3.300000e+00,3.050000e+00
3,N01,DIR,1.119000e+01,1.121000e+01,1.250000e+01,1.401000e+01,1.501000e+01,1.563000e+01,1.605000e+01,1.631000e+01,...,1.703000e+01,1.733000e+01,1.759000e+01,1.784000e+01,1.762000e+01,1.695000e+01,1.589000e+01,1.379000e+01,9.300000e+00,5.260000e+00
4,N02,HS,4.400000e-01,4.300000e-01,4.200000e-01,4.100000e-01,4.000000e-01,4.000000e-01,3.900000e-01,3.800000e-01,...,3.100000e-01,3.200000e-01,3.200000e-01,3.200000e-01,3.200000e-01,3.200000e-01,3.200000e-01,3.400000e-01,3.900000e-01,4.500000e-01

In [78]:
data.iloc[0].head()

0            NaN
1            NaN
2    2.01802e+09
3    2.01802e+09
4    2.01802e+09
Name: 0, dtype: object

In [80]:
columns_date=data.iloc[0][2:]
columns_date.head()

2    2.01802e+09
3    2.01802e+09
4    2.01802e+09
5    2.01802e+09
6    2.01802e+09
Name: 0, dtype: object

In [114]:
columns_date.astype(str)

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,nan,nan,2018022608,2018022609,2018022610,2018022611,2018022612,2018022613,2018022614,2018022615,...,2018022823,2018030100,2018030101,2018030102,2018030103,2018030104,2018030105,2018030106,2018030107,2018030108

In [63]:
type(columns_date)

pandas.core.series.Series

## 3 读取除去第一行的其余数据

In [45]:
data=data[1:]
data.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
1,N01,HS,0.49,0.48,0.46,0.45,0.43,0.42,0.41,0.40,...,0.35,0.35,0.35,0.35,0.35,0.35,0.36,0.36,0.39,0.42
2,N01,PER,3.14,3.14,3.20,3.27,3.34,3.38,3.41,3.44,...,3.70,3.74,3.81,3.90,3.95,3.93,3.85,3.66,3.30,3.05
3,N01,DIR,11.19,11.21,12.50,14.01,15.01,15.63,16.05,16.31,...,17.03,17.33,17.59,17.84,17.62,16.95,15.89,13.79,9.30,5.26
4,N02,HS,0.44,0.43,0.42,0.41,0.40,0.40,0.39,0.38,...,0.31,0.32,0.32,0.32,0.32,0.32,0.32,0.34,0.39,0.45
5,N02,PER,4.03,4.05,4.06,4.04,4.02,3.99,3.94,3.94,...,4.29,4.36,4.42,4.47,4.44,4.35,4.15,3.76,3.28,3.07

In [150]:
data[2:].columns

Int64Index([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
            36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
            53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
            70, 71, 72, 73, 74],
           dtype='int64')

In [151]:
range(0,2)

range(0, 2)

In [152]:
data[[2,3,4]].head()

             2      3      4
0   1
N01 HS    0.49   0.48   0.46
    PER   3.14   3.14   3.20
    DIR  11.19  11.21  12.50
N02 HS    0.44   0.43   0.42
    PER   4.03   4.05   4.06

In [153]:
data.columns

Int64Index([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
            36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
            53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
            70, 71, 72, 73, 74],
           dtype='int64')

## 4 更改索引

In [53]:
data.index=data[0].tolist()

In [55]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
N01,N01,HS,0.49,0.48,0.46,0.45,0.43,0.42,0.41,0.40,...,0.35,0.35,0.35,0.35,0.35,0.35,0.36,0.36,0.39,0.42
N01,N01,PER,3.14,3.14,3.20,3.27,3.34,3.38,3.41,3.44,...,3.70,3.74,3.81,3.90,3.95,3.93,3.85,3.66,3.30,3.05
N01,N01,DIR,11.19,11.21,12.50,14.01,15.01,15.63,16.05,16.31,...,17.03,17.33,17.59,17.84,17.62,16.95,15.89,13.79,9.30,5.26
N02,N02,HS,0.44,0.43,0.42,0.41,0.40,0.40,0.39,0.38,...,0.31,0.32,0.32,0.32,0.32,0.32,0.32,0.34,0.39,0.45
N02,N02,PER,4.03,4.05,4.06,4.04,4.02,3.99,3.94,3.94,...,4.29,4.36,4.42,4.47,4.44,4.35,4.15,3.76,3.28,3.07

#### 此种方法才是更改索引

In [147]:
data=data.set_index([0,1])

In [148]:
data.head()

                   2             3             4             5             6   \
0   1
NaN NaN  2.018023e+09  2.018023e+09  2.018023e+09  2.018023e+09  2.018023e+09
N01 HS   4.900000e-01  4.800000e-01  4.600000e-01  4.500000e-01  4.300000e-01
    PER  3.140000e+00  3.140000e+00  3.200000e+00  3.270000e+00  3.340000e+00
    DIR  1.119000e+01  1.121000e+01  1.250000e+01  1.401000e+01  1.501000e+01
N02 HS   4.400000e-01  4.300000e-01  4.200000e-01  4.100000e-01  4.000000e-01

                   7             8             9             10            11  \
0   1
NaN NaN  2.018023e+09  2.018023e+09  2.018023e+09  2.018023e+09  2.018023e+09
N01 HS   4.200000e-01  4.100000e-01  4.000000e-01  3.900000e-01  3.800000e-01
    PER  3.380000e+00  3.410000e+00  3.440000e+00  3.470000e+00  3.490000e+00
    DIR  1.563000e+01  1.605000e+01  1.631000e+01  1.651000e+01  1.671000e+01
N02 HS   4.000000e-01  3.900000e-01  3.800000e-01  3.700000e-01  3.600000e-01

             ...                 65            66            67            68  \
0   1        ...
NaN NaN      ...       2.018023e+09  2.018030e+09  2.018030e+09  2.018030e+09
N01 HS       ...       3.500000e-01  3.500000e-01  3.500000e-01  3.500000e-01
    PER      ...       3.700000e+00  3.740000e+00  3.810000e+00  3.900000e+00
    DIR      ...       1.703000e+01  1.733000e+01  1.759000e+01  1.784000e+01
N02 HS       ...       3.100000e-01  3.200000e-01  3.200000e-01  3.200000e-01

                   69            70            71            72            73  \
0   1
NaN NaN  2.018030e+09  2.018030e+09  2.018030e+09  2.018030e+09  2.018030e+09
N01 HS   3.500000e-01  3.500000e-01  3.600000e-01  3.600000e-01  3.900000e-01
    PER  3.950000e+00  3.930000e+00  3.850000e+00  3.660000e+00  3.300000e+00
    DIR  1.762000e+01  1.695000e+01  1.589000e+01  1.379000e+01  9.300000e+00
N02 HS   3.200000e-01  3.200000e-01  3.200000e-01  3.400000e-01  3.900000e-01

                   74
0   1
NaN NaN  2.018030e+09
N01 HS   4.200000e-01
    PER  3.050000e+00
    DIR  5.260000e+00
N02 HS   4.500000e-01

[5 rows x 73 columns]

## 5 修改head

In [139]:
columns_date_convert

,2,3,4,5,6,7,8,9,10,11,...,65,66,67,68,69,70,71,72,73,74
0,2018022608,2018022609,2018022610,2018022611,2018022612,2018022613,2018022614,2018022615,2018022616,2018022617,...,2018022823,2018030100,2018030101,2018030102,2018030103,2018030104,2018030105,2018030106,2018030107,2018030108

#### 获取dataframe的列数

In [155]:
len(data.columns)

73

In [142]:
type(columns_date_convert[0:1])

pandas.core.frame.DataFrame

In [144]:
columns_date_convert[0:1].values[0]

array([2018022608, 2018022609, 2018022610, 2018022611, 2018022612,
       2018022613, 2018022614, 2018022615, 2018022616, 2018022617,
       2018022618, 2018022619, 2018022620, 2018022621, 2018022622,
       2018022623, 2018022700, 2018022701, 2018022702, 2018022703,
       2018022704, 2018022705, 2018022706, 2018022707, 2018022708,
       2018022709, 2018022710, 2018022711, 2018022712, 2018022713,
       2018022714, 2018022715, 2018022716, 2018022717, 2018022718,
       2018022719, 2018022720, 2018022721, 2018022722, 2018022723,
       2018022800, 2018022801, 2018022802, 2018022803, 2018022804,
       2018022805, 2018022806, 2018022807, 2018022808, 2018022809,
       2018022810, 2018022811, 2018022812, 2018022813, 2018022814,
       2018022815, 2018022816, 2018022817, 2018022818, 2018022819,
       2018022820, 2018022821, 2018022822, 2018022823, 2018030100,
       2018030101, 2018030102, 2018030103, 2018030104, 2018030105,
       2018030106, 2018030107, 2018030108], dtype=int64)

In [156]:
len(columns_date_convert[0:1].values[0])

73

In [1]:
data.head()

NameError: name 'data' is not defined

In [158]:
data.columns=columns_date_convert[0:1].values[0]

In [161]:
data.T.head()

0            N01                N02                 N03                 N04  \
1             HS   PER    DIR    HS   PER     DIR    HS   PER     DIR    HS
2018022608  0.49  3.14  11.19  0.44  4.03  335.34  0.19  3.68  339.40  0.52
2018022609  0.48  3.14  11.21  0.43  4.05  335.34  0.19  3.61  341.41  0.51
2018022610  0.46  3.20  12.50  0.42  4.06  335.40  0.20  3.32  345.22  0.51
2018022611  0.45  3.27  14.01  0.41  4.04  335.90  0.21  3.05  348.24  0.51
2018022612  0.43  3.34  15.01  0.40  4.02  336.39  0.24  2.84  351.14  0.52

0            ...       S48   S49                 S50                 S51  \
1            ...       DIR    HS   PER     DIR    HS   PER     DIR    HS
2018022608   ...    171.44  0.13  3.10  248.49  0.29  3.93  238.07  0.74
2018022609   ...    262.09  0.13  3.05  248.99  0.30  3.83  238.61  0.78
2018022610   ...    259.90  0.14  2.98  249.56  0.32  3.67  239.39  0.83
2018022611   ...    259.47  0.15  2.90  250.21  0.35  3.45  240.47  0.89
2018022612   ...    260.42  0.17  2.69  251.63  0.40  3.26  241.54  0.93

0
1            PER     DIR
2018022608  4.24  320.09
2018022609  4.19  320.09
2018022610  4.18  320.27
2018022611  4.19  314.53
2018022612  4.22  306.30

[5 rows x 639 columns]

In [171]:
data.T.idxmax(axis=1).head()

2018022608    (N20, DIR)
2018022609    (N34, DIR)
2018022610    (N04, DIR)
2018022611    (N75, DIR)
2018022612    (N75, DIR)
dtype: object

In [172]:
data.T.idxmax(axis=0).head()

0    1
N01  HS     2018022716
     PER    2018030103
     DIR    2018022806
N02  HS     2018030108
     PER    2018030102
dtype: int64

In [173]:
data.T.idxmax(axis=0).head()

0    1
N01  HS     2018022716
     PER    2018030103
     DIR    2018022806
N02  HS     2018030108
     PER    2018030102
dtype: int64