In [1]:
import numpy as np
import pandas as pd
import os
import sys
import datetime

In [2]:
read_date=pd.read_csv('convert_date.csv',',')
# read_date=read_date.set_index([0,1])
read_date.head()

,0,1,2018022608,2018022609,2018022610,2018022611,2018022612,2018022613,2018022614,2018022615,...,2018022823,2018030100,2018030101,2018030102,2018030103,2018030104,2018030105,2018030106,2018030107,2018030108
0,N01,HS,0.49,0.48,0.46,0.45,0.43,0.42,0.41,0.40,...,0.35,0.35,0.35,0.35,0.35,0.35,0.36,0.36,0.39,0.42
1,N01,PER,3.14,3.14,3.20,3.27,3.34,3.38,3.41,3.44,...,3.70,3.74,3.81,3.90,3.95,3.93,3.85,3.66,3.30,3.05
2,N01,DIR,11.19,11.21,12.50,14.01,15.01,15.63,16.05,16.31,...,17.03,17.33,17.59,17.84,17.62,16.95,15.89,13.79,9.30,5.26
3,N02,HS,0.44,0.43,0.42,0.41,0.40,0.40,0.39,0.38,...,0.31,0.32,0.32,0.32,0.32,0.32,0.32,0.34,0.39,0.45
4,N02,PER,4.03,4.05,4.06,4.04,4.02,3.99,3.94,3.94,...,4.29,4.36,4.42,4.47,4.44,4.35,4.15,3.76,3.28,3.07

In [4]:
read_date=read_date.set_index(['0','1'])

#### 分别获取最大值所在位置与最大值

In [5]:
read_date.T.idxmax(axis=0).head()

0    1
N01  HS     2018022716
     PER    2018030103
     DIR    2018022806
N02  HS     2018030108
     PER    2018030102
dtype: object

In [8]:
read_date.T.max().head()

0    1
N01  HS      4.89
     PER     3.95
     DIR    24.03
N02  HS      0.45
     PER     4.47
dtype: float64