In [3]:
import numpy as np
import pandas as pd
import os
import sys
import datetime

In [4]:
read_date=pd.read_csv('convert_date.csv',',')
# read_date=read_date.set_index([0,1])
read_date.head()

,0,1,2018022608,2018022609,2018022610,2018022611,2018022612,2018022613,2018022614,2018022615,...,2018022823,2018030100,2018030101,2018030102,2018030103,2018030104,2018030105,2018030106,2018030107,2018030108
0,N01,HS,0.49,0.48,0.46,0.45,0.43,0.42,0.41,0.40,...,0.35,0.35,0.35,0.35,0.35,0.35,0.36,0.36,0.39,0.42
1,N01,PER,3.14,3.14,3.20,3.27,3.34,3.38,3.41,3.44,...,3.70,3.74,3.81,3.90,3.95,3.93,3.85,3.66,3.30,3.05
2,N01,DIR,11.19,11.21,12.50,14.01,15.01,15.63,16.05,16.31,...,17.03,17.33,17.59,17.84,17.62,16.95,15.89,13.79,9.30,5.26
3,N02,HS,0.44,0.43,0.42,0.41,0.40,0.40,0.39,0.38,...,0.31,0.32,0.32,0.32,0.32,0.32,0.32,0.34,0.39,0.45
4,N02,PER,4.03,4.05,4.06,4.04,4.02,3.99,3.94,3.94,...,4.29,4.36,4.42,4.47,4.44,4.35,4.15,3.76,3.28,3.07

* 查看读取出来的df的columns

In [49]:
read_date.columns

Index(['2018022608', '2018022609', '2018022610', '2018022611', '2018022612',
       '2018022613', '2018022614', '2018022615', '2018022616', '2018022617',
       '2018022618', '2018022619', '2018022620', '2018022621', '2018022622',
       '2018022623', '2018022700', '2018022701', '2018022702', '2018022703',
       '2018022704', '2018022705', '2018022706', '2018022707', '2018022708',
       '2018022709', '2018022710', '2018022711', '2018022712', '2018022713',
       '2018022714', '2018022715', '2018022716', '2018022717', '2018022718',
       '2018022719', '2018022720', '2018022721', '2018022722', '2018022723',
       '2018022800', '2018022801', '2018022802', '2018022803', '2018022804',
       '2018022805', '2018022806', '2018022807', '2018022808', '2018022809',
       '2018022810', '2018022811', '2018022812', '2018022813', '2018022814',
       '2018022815', '2018022816', '2018022817', '2018022818', '2018022819',
       '2018022820', '2018022821', '2018022822', '2018022823', '2018030100',
       '2018030101', '2018030102', '2018030103', '2018030104', '2018030105',
       '2018030106', '2018030107', '2018030108'],
      dtype='object')

In [5]:
read_date=read_date.set_index(['0','1'])

In [6]:
read_date.index.names

FrozenList(['0', '1'])

In [7]:
read_date.index.names=['code','factor']
# read_date.index.names=[]

In [8]:
read_date.head()

             2018022608  2018022609  2018022610  2018022611  2018022612  \
code factor
N01  HS            0.49        0.48        0.46        0.45        0.43
     PER           3.14        3.14        3.20        3.27        3.34
     DIR          11.19       11.21       12.50       14.01       15.01
N02  HS            0.44        0.43        0.42        0.41        0.40
     PER           4.03        4.05        4.06        4.04        4.02

             2018022613  2018022614  2018022615  2018022616  2018022617  \
code factor
N01  HS            0.42        0.41        0.40        0.39        0.38
     PER           3.38        3.41        3.44        3.47        3.49
     DIR          15.63       16.05       16.31       16.51       16.71
N02  HS            0.40        0.39        0.38        0.37        0.36
     PER           3.99        3.94        3.94        3.97        3.98

                ...      2018022823  2018030100  2018030101  2018030102  \
code factor     ...
N01  HS         ...            0.35        0.35        0.35        0.35
     PER        ...            3.70        3.74        3.81        3.90
     DIR        ...           17.03       17.33       17.59       17.84
N02  HS         ...            0.31        0.32        0.32        0.32
     PER        ...            4.29        4.36        4.42        4.47

             2018030103  2018030104  2018030105  2018030106  2018030107  \
code factor
N01  HS            0.35        0.35        0.36        0.36        0.39
     PER           3.95        3.93        3.85        3.66        3.30
     DIR          17.62       16.95       15.89       13.79        9.30
N02  HS            0.32        0.32        0.32        0.34        0.39
     PER           4.44        4.35        4.15        3.76        3.28

             2018030108
code factor
N01  HS            0.42
     PER           3.05
     DIR           5.26
N02  HS            0.45
     PER           3.07

[5 rows x 73 columns]

#### 分别获取最大值所在位置与最大值

#### 1 获取最大值所在位置

In [9]:
read_date.T.idxmax(axis=0).head()

code  factor
N01   HS        2018022716
      PER       2018030103
      DIR       2018022806
N02   HS        2018030108
      PER       2018030102
dtype: object

In [10]:
type(read_date.T.idxmax(axis=0))

pandas.core.series.Series

In [11]:
pd.DataFrame([read_date.T.idxmax(axis=0)]).T.head()

                      0
code factor
N01  HS      2018022716
     PER     2018030103
     DIR     2018022806
N02  HS      2018030108
     PER     2018030102

* 获取df的层次化索引的别名

In [12]:
pd.DataFrame([read_date.T.idxmax(axis=0)]).T.index.names

FrozenList(['code', 'factor'])

In [13]:
read_date.T.idxmax(axis=0).unstack().head()

factor         DIR          HS         PER
code
E01     2018022616  2018022709  2018022814
E02     2018022618  2018022709  2018022813
E03     2018022608  2018022811  2018022811
E04     2018022620  2018022810  2018022810
E05     2018022619  2018030104  2018022808

* 获取层次化索引的值

In [22]:
read_date.T.idxmax(axis=0).unstack().index.values[:5]

array(['E01', 'E02', 'E03', 'E04', 'E05'], dtype=object)

In [44]:
type(read_date.T.idxmax(axis=0).unstack().index.values)

numpy.ndarray

In [23]:
read_date.T.idxmax(axis=0).unstack().index

Index(['E01', 'E02', 'E03', 'E04', 'E05', 'E06', 'E07', 'E08', 'E09', 'E10',
       ...
       'S42', 'S43', 'S44', 'S45', 'S46', 'S47', 'S48', 'S49', 'S50', 'S51'],
      dtype='object', name='code', length=213)

* 获取columns

In [25]:
read_date.T.idxmax(axis=0).unstack().columns

Index(['DIR', 'HS', 'PER'], dtype='object', name='factor')

In [26]:
type(read_date.T.idxmax(axis=0).unstack().columns)

pandas.core.indexes.base.Index

* 获取data

In [27]:
read_date.T.idxmax(axis=0).unstack().values[:5]

array([['2018022616', '2018022709', '2018022814'],
       ['2018022618', '2018022709', '2018022813'],
       ['2018022608', '2018022811', '2018022811'],
       ['2018022620', '2018022810', '2018022810'],
       ['2018022619', '2018030104', '2018022808']], dtype=object)

* 拼成新的df

In [63]:
new_read_data=pd.DataFrame(read_date.T.idxmax(axis=0).unstack().values,columns=read_date.T.idxmax(axis=0).unstack().columns)

In [64]:
new_read_data.head()

factor         DIR          HS         PER
0       2018022616  2018022709  2018022814
1       2018022618  2018022709  2018022813
2       2018022608  2018022811  2018022811
3       2018022620  2018022810  2018022810
4       2018022619  2018030104  2018022808

In [65]:
read_date.T.idxmax(axis=0).unstack().index.values[:2]

array(['E01', 'E02'], dtype=object)

In [66]:
print(type(read_date.T.idxmax(axis=0).unstack().index))
read_date.T.idxmax(axis=0).unstack().index

<class 'pandas.core.indexes.base.Index'>

Index(['E01', 'E02', 'E03', 'E04', 'E05', 'E06', 'E07', 'E08', 'E09', 'E10',
       ...
       'S42', 'S43', 'S44', 'S45', 'S46', 'S47', 'S48', 'S49', 'S50', 'S51'],
      dtype='object', name='code', length=213)

* 新增两列

In [67]:
new_read_data.indexs=read_date.T.idxmax(axis=0).unstack().index.values
new_read_data['code']=read_date.T.idxmax(axis=0).unstack().index
new_read_data['nowdate']='20180307'

In [68]:
new_read_data.head()

factor         DIR          HS         PER code   nowdate
0       2018022616  2018022709  2018022814  E01  20180307
1       2018022618  2018022709  2018022813  E02  20180307
2       2018022608  2018022811  2018022811  E03  20180307
3       2018022620  2018022810  2018022810  E04  20180307
4       2018022619  2018030104  2018022808  E05  20180307

In [69]:
read_date.T.idxmax(axis=0).unstack().index

Index(['E01', 'E02', 'E03', 'E04', 'E05', 'E06', 'E07', 'E08', 'E09', 'E10',
       ...
       'S42', 'S43', 'S44', 'S45', 'S46', 'S47', 'S48', 'S49', 'S50', 'S51'],
      dtype='object', name='code', length=213)

* 去掉factor

In [70]:
new_read_data.columns

Index(['DIR', 'HS', 'PER', 'code', 'nowdate'], dtype='object', name='factor')

In [71]:
new_read_data.columns=['DIR', 'HS', 'PER', 'code', 'nowdate']

In [72]:
new_read_data.head()

          DIR          HS         PER code   nowdate
0  2018022616  2018022709  2018022814  E01  20180307
1  2018022618  2018022709  2018022813  E02  20180307
2  2018022608  2018022811  2018022811  E03  20180307
3  2018022620  2018022810  2018022810  E04  20180307
4  2018022619  2018030104  2018022808  E05  20180307

In [56]:
new_read_data.columns.values.tolist()

['DIR', 'HS', 'PER', 'code', 'nowdate']

* 自动化的方式去掉columns的names

In [58]:
new_read_data.columns=new_read_data.columns.values.tolist()

In [60]:
new_read_data.head()

          DIR          HS         PER code   nowdate
0  2018022616  2018022709  2018022814  E01  20180307
1  2018022618  2018022709  2018022813  E02  20180307
2  2018022608  2018022811  2018022811  E03  20180307
3  2018022620  2018022810  2018022810  E04  20180307
4  2018022619  2018030104  2018022808  E05  20180307