In [71]:
import numpy as np
import pandas as pd
import os
import sys
import datetime

In [72]:
read_date=pd.read_csv('convert_date.csv',',')
# read_date=read_date.set_index([0,1])
read_date.head()

,0,1,2018-03-07 08:00,2018-03-07 09:00,2018-03-07 10:00,2018-03-07 11:00,2018-03-07 12:00,2018-03-07 13:00,2018-03-07 14:00,2018-03-07 15:00,...,2018-03-09 23:00,2018-03-10 00:00,2018-03-10 01:00,2018-03-10 02:00,2018-03-10 03:00,2018-03-10 04:00,2018-03-10 05:00,2018-03-10 06:00,2018-03-10 07:00,2018-03-10 08:00
0,N01,HS,0.49,0.48,0.46,0.45,0.43,0.42,0.41,0.40,...,0.35,0.35,0.35,0.35,0.35,0.35,0.36,0.36,0.39,0.42
1,N01,PER,3.14,3.14,3.20,3.27,3.34,3.38,3.41,3.44,...,3.70,3.74,3.81,3.90,3.95,3.93,3.85,3.66,3.30,3.05
2,N01,DIR,11.19,11.21,12.50,14.01,15.01,15.63,16.05,16.31,...,17.03,17.33,17.59,17.84,17.62,16.95,15.89,13.79,9.30,5.26
3,N02,HS,0.44,0.43,0.42,0.41,0.40,0.40,0.39,0.38,...,0.31,0.32,0.32,0.32,0.32,0.32,0.32,0.34,0.39,0.45
4,N02,PER,4.03,4.05,4.06,4.04,4.02,3.99,3.94,3.94,...,4.29,4.36,4.42,4.47,4.44,4.35,4.15,3.76,3.28,3.07

In [73]:
read_date=read_date.set_index(['0','1'])

In [74]:
read_date.index.names=['code','factor']
# read_date.index.names=[]

#### 2、生成新的df

* 2-1拼成新的df

In [75]:
new_read_data=pd.DataFrame(read_date.T.idxmax(axis=0).unstack().values,columns=read_date.T.idxmax(axis=0).unstack().columns)

In [76]:
new_read_data.head()

factor               DIR                HS               PER
0       2018-03-07 16:00  2018-03-08 09:00  2018-03-09 14:00
1       2018-03-07 18:00  2018-03-08 09:00  2018-03-09 13:00
2       2018-03-07 08:00  2018-03-09 11:00  2018-03-09 11:00
3       2018-03-07 20:00  2018-03-09 10:00  2018-03-09 10:00
4       2018-03-07 19:00  2018-03-10 04:00  2018-03-09 08:00

* 2-2新增两列

In [78]:
new_read_data.indexs=read_date.T.idxmax(axis=0).unstack().index.values
new_read_data['code']=read_date.T.idxmax(axis=0).unstack().index
new_read_data['nowdate']='2018-03-07'

In [79]:
new_read_data.head()

factor               DIR                HS               PER code     nowdate
0       2018-03-07 16:00  2018-03-08 09:00  2018-03-09 14:00  E01  2018-03-07
1       2018-03-07 18:00  2018-03-08 09:00  2018-03-09 13:00  E02  2018-03-07
2       2018-03-07 08:00  2018-03-09 11:00  2018-03-09 11:00  E03  2018-03-07
3       2018-03-07 20:00  2018-03-09 10:00  2018-03-09 10:00  E04  2018-03-07
4       2018-03-07 19:00  2018-03-10 04:00  2018-03-09 08:00  E05  2018-03-07

* 2-3 去掉factor  
* 自动化的方式去掉columns的names

In [80]:
new_read_data.columns=new_read_data.columns.values.tolist()

In [81]:
new_read_data.head()

                DIR                HS               PER code     nowdate
0  2018-03-07 16:00  2018-03-08 09:00  2018-03-09 14:00  E01  2018-03-07
1  2018-03-07 18:00  2018-03-08 09:00  2018-03-09 13:00  E02  2018-03-07
2  2018-03-07 08:00  2018-03-09 11:00  2018-03-09 11:00  E03  2018-03-07
3  2018-03-07 20:00  2018-03-09 10:00  2018-03-09 10:00  E04  2018-03-07
4  2018-03-07 19:00  2018-03-10 04:00  2018-03-09 08:00  E05  2018-03-07

### 3、查看原有的每一类的数据类型

In [82]:
type(new_read_data)

pandas.core.frame.DataFrame

In [83]:
new_read_data['nowdate']='2018-03-07 17:00'

In [84]:
new_read_data.head()

                DIR                HS               PER code           nowdate
0  2018-03-07 16:00  2018-03-08 09:00  2018-03-09 14:00  E01  2018-03-07 17:00
1  2018-03-07 18:00  2018-03-08 09:00  2018-03-09 13:00  E02  2018-03-07 17:00
2  2018-03-07 08:00  2018-03-09 11:00  2018-03-09 11:00  E03  2018-03-07 17:00
3  2018-03-07 20:00  2018-03-09 10:00  2018-03-09 10:00  E04  2018-03-07 17:00
4  2018-03-07 19:00  2018-03-10 04:00  2018-03-09 08:00  E05  2018-03-07 17:00

In [85]:
new_read_data.dtypes

DIR        object
HS         object
PER        object
code       object
nowdate    object
dtype: object

In [87]:
new_read_data['nowdate'].astype('datetime64[h]').head()

0   2018-03-07 17:00:00
1   2018-03-07 17:00:00
2   2018-03-07 17:00:00
3   2018-03-07 17:00:00
4   2018-03-07 17:00:00
Name: nowdate, dtype: datetime64[ns]

* 3-2 批量修改列的类型

In [88]:
new_read_data['DIR']=new_read_data['DIR'].astype('datetime64[ns]')
new_read_data['HS']=new_read_data['HS'].astype('datetime64[ns]')
new_read_data['PER']=new_read_data['PER'].astype('datetime64[ns]')
new_read_data['nowdate']=new_read_data['nowdate'].astype('datetime64[ns]')

In [89]:
new_read_data.dtypes

DIR        datetime64[ns]
HS         datetime64[ns]
PER        datetime64[ns]
code               object
nowdate    datetime64[ns]
dtype: object

In [91]:
new_read_data.head()

,DIR,HS,PER,code,nowdate
0,2018-03-07 16:00:00,2018-03-08 09:00:00,2018-03-09 14:00:00,E01,2018-03-07 17:00:00
1,2018-03-07 18:00:00,2018-03-08 09:00:00,2018-03-09 13:00:00,E02,2018-03-07 17:00:00
2,2018-03-07 08:00:00,2018-03-09 11:00:00,2018-03-09 11:00:00,E03,2018-03-07 17:00:00
3,2018-03-07 20:00:00,2018-03-09 10:00:00,2018-03-09 10:00:00,E04,2018-03-07 17:00:00
4,2018-03-07 19:00:00,2018-03-10 04:00:00,2018-03-09 08:00:00,E05,2018-03-07 17:00:00