In [20]:
import numpy as np
import pandas as pd
import os
import sys
import datetime
from sqlalchemy import create_engine
from sqlalchemy.types import NVARCHAR,VARCHAR

### 1 读取指定文件

In [10]:
targetpath=r"D:\02git仓库\GridForecastSys\byjupyter"
filename="Basic_names.csv"
fullname=os.path.join(targetpath,filename)
print(fullname)
#data=np.loadtxt(fullname)
# data=pd.read_table(targetpath,encoding = 'utf-8',header=None)
with open(fullname,"rb") as f:
    df=pd.read_table(f,sep=',',encoding='utf-8',header=None)
    print('读取成功')

D:\02git仓库\GridForecastSys\byjupyter\Basic_names.csv
读取成功

In [11]:
df.head()

   0  1    2           3
0  N  1  N01   辽宁省丹东市东港市
1  N  2  N02   辽宁省大连市庄河市
2  N  3  N03  辽宁省大连市普兰店市
3  N  4  N04   辽宁省大连市长海县
4  N  5  N05   辽宁省大连市长海县

### 2 设置列头

In [9]:
columns_title=['area','num','code','name']

In [14]:
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [15]:
df.columns=columns_title

In [17]:
df.head()

  area  num code        name
0    N    1  N01   辽宁省丹东市东港市
1    N    2  N02   辽宁省大连市庄河市
2    N    3  N03  辽宁省大连市普兰店市
3    N    4  N04   辽宁省大连市长海县
4    N    5  N05   辽宁省大连市长海县

### 3 写入数据库

* 取出指定列

In [38]:
df=df[['name','code','area']]

In [39]:
df.head()

         name code area
0   辽宁省丹东市东港市  N01    N
1   辽宁省大连市庄河市  N02    N
2  辽宁省大连市普兰店市  N03    N
3   辽宁省大连市长海县  N04    N
4   辽宁省大连市长海县  N05    N

In [44]:
def writeInDb(df,db_name,table_name):
    engine = create_engine('mysql+mysqldb://root:123456@localhost:3306/gridforecast?charset=utf8',encoding='utf-8')
    dtypedict={
            'str':VARCHAR(length=4),
        }
    pd.io.sql.to_sql(df,table_name,engine,schema=db_name, if_exists='append',index=False,dtype=dtypedict)

In [45]:
db_name='gridforecast'
table_name='station_gridinfo'

In [46]:
writeInDb(df,db_name,table_name)

D:\Env\anaconda\lib\site-packages\sqlalchemy\engine\default.py:470: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  cursor.execute(statement, parameters)