In [7]:
import numpy as np
import pandas as pd
import os
import sys
import datetime

### 1 读取预报文件

In [12]:
targetPath=r""
data=pd.read_table("StormTide_20180709.txt")

In [13]:
data

           2018-07-09 08:00  2018-07-09 09:00  2018-07-09 10:00  \
N01 SURGE              0.36              0.35              0.34
    TIDE               3.43              3.58              3.73
N02 SURGE              0.36              0.35              0.34
    TIDE               3.43              3.58              3.73
N03 SURGE              0.36              0.35              0.34
    TIDE               3.43              3.58              3.73

           2018-07-09 11:00  2018-07-09 12:00  2018-07-09 13:00  \
N01 SURGE              0.33              0.33              0.32
    TIDE               3.86              3.97              4.07
N02 SURGE              0.33              0.33              0.32
    TIDE               3.86              3.97              4.07
N03 SURGE              0.33              0.33              0.32
    TIDE               3.86              3.97              4.07

           2018-07-09 14:00  2018-07-09 15:00  2018-07-09 16:00  \
N01 SURGE              0.31              0.31              0.31
    TIDE               4.16              4.25              4.31
N02 SURGE              0.31              0.31              0.31
    TIDE               4.16              4.25              4.31
N03 SURGE              0.31              0.31              0.31
    TIDE               4.16              4.25              4.31

           2018-07-09 17:00        ...         2018-07-11 23:00  \
N01 SURGE              0.32        ...                     0.56
    TIDE               4.32        ...                     3.53
N02 SURGE              0.32        ...                     0.56
    TIDE               4.32        ...                     3.53
N03 SURGE              0.32        ...                     0.56
    TIDE               4.32        ...                     3.53

           2018-07-12 00:00  2018-07-12 01:00  2018-07-12 02:00  \
N01 SURGE              0.56              0.56              0.56
    TIDE               3.51              3.49              3.48
N02 SURGE              0.56              0.56              0.56
    TIDE               3.51              3.49              3.48
N03 SURGE              0.56              0.56              0.56
    TIDE               3.51              3.49              3.48

           2018-07-12 03:00  2018-07-12 04:00  2018-07-12 05:00  \
N01 SURGE              0.57              0.57              0.57
    TIDE               3.49              3.51              3.54
N02 SURGE              0.57              0.57              0.57
    TIDE               3.49              3.51              3.54
N03 SURGE              0.57              0.57              0.57
    TIDE               3.49              3.51              3.54

           2018-07-12 06:00  2018-07-12 07:00  2018-07-12 08:00
N01 SURGE              0.57              0.57              0.57
    TIDE               3.55              3.57              3.59
N02 SURGE              0.57              0.57              0.57
    TIDE               3.55              3.57              3.59
N03 SURGE              0.57              0.57              0.57
    TIDE               3.55              3.57              3.59

[6 rows x 73 columns]

In [6]:
columns_date=data.iloc[0]
columns_date.head()

Unnamed: 0            N01
Unnamed: 1          SURGE
2018-07-09 08:00     0.36
2018-07-09 09:00     0.35
2018-07-09 10:00     0.34
Name: 0, dtype: object